<%=	 div_for comment do %>

    <p style="text-align: center"> <strong>
      Posted <%=	 time_ago_in_words(comment.created_at) %>
    </strong>
    <br />
    <%=	 h(comment.body) %>
    </p>

    <hr width="50%"; align="center"; color="black"; />

<%	 end %>